.contact {
  background-size: cover;
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.contact__bg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: rgb(219,200,180);
  background: -moz-linear-gradient(0deg, rgba(219,200,180,1) 0%, rgba(230,217,203,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(219,200,180,1) 0%, rgba(230,217,203,1) 100%);
  background: linear-gradient(0deg, rgba(219,200,180,1) 0%, rgba(230,217,203,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dbc8b4",endColorstr="#e6d9cb",GradientType=1);
}

.contact::after {
  content: "Contact";
  position: absolute;
  right: -11rem;
  transform: rotate(-90deg);
  height: fit-content;
  font-size: 8rem;
  z-index: -9;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-style: italic;
  line-height: 4rem;
}

.contact__head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__head * {
  width: 100%;
  margin: 1rem 0;
  padding-right: 0.2rem;
}

.contact__header {
  z-index: 10;
  color: #fff;
  font-size: 1rem;
}

.contact__form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scroll-snap-align: start;
  z-index: 10;
}

input {
  padding: 1rem;
  border-radius: 2px;
  z-index: 10;
  border: none;
  font-size: 1rem;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 2px solid transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
input:focus {
  outline: none;
  border: 2px solid #1fc6b5;
}
input::placeholder {
  padding-left: 0.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
textarea {
  border: none;
  background-color: transparent;
  border-radius: 2px;
  width: 100%;
  height: 6rem;
  background-color: #f1f1f1;
  border: 2px solid transparent;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: .4px;
}
.bg {
  position: absolute;
  background-size: cover;
}
textarea:focus {
  outline: none;
  border: 2px solid #1fc6b5;
}
textarea::placeholder {
  font-size: 1rem;
  padding-left: 0.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.contact__button {
  margin: 1.5rem;
  width: 6rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
  padding: 3px;
  border-radius: 3px;
  font-family: Quicksand;
  background-color: #f1f1f1;
  letter-spacing: 0.5px;
}

.contact__button:hover {
  transition: 0.3s;
  background-color: #f1f1f1;
  transform: scale(1.05);
}

.contact__modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20rem;
  width: 40rem;
  border: 2px solid transparent;
  background-color: hsla(31, 35%, 85%, 0.3);
  border-radius: 3px;
  transition: all 1s ease;
}

.contact__modal:hover {
  border: 2px solid #1fc6b5;
}

.group1 {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 50%;
}

@keyframes vec {
  0% {
    stroke-dashoffset: 100%;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

svg .vector1 {
  stroke: #fff;
  stroke-dasharray: 1000;
  animation: vec 90s ease;
  stroke-dashoffset: 0;
}

@media (max-width: 1024px) {
 .contact__header {
  font-size: .8rem;
 }
 .contact__head * {
  margin: 0.2rem 0;
 }
 input {
  font-size: .8rem;
 }

 textarea {
  height: 3rem;
 }
 .contact__modal {
  height: 14rem;
  width: 24rem;
 }
}

@media (max-width: 696px) {
 .contact__modal {
  height: 10rem;
  width: 20rem;
 }

 .contact__header {
  font-size: .6rem;
 }
 
 input {
  font-size: .6rem;
 }

 textarea {
  height: 2rem;
 }

 textarea::placeholder {
  font-size: .6rem;
  
 }

 .contact__button {
  font-size: .6rem;
  width: 4rem;
  margin: .5rem;
 }
 
 }