.skills {
  height: 50vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  padding: 2rem 0;
  background: #0a0a0b;
  position: relative;
}

.skills__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 85%;
}

.skills__span {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 8rem;
}
.skills__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.skills__skill {
  padding: 0;
  margin: 0;
}

.skills__header {
  margin-left: 2rem;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
}

@media (max-width: 1024px) {
  .skills__span {
    width: 5rem;
    font-size: .8rem;
  }
  .skills__header {
    font-size: 1.2rem;
  }
}

@media (max-width: 696px) {
 .skills {
  flex-direction: row;
 }
 .skills__list {
  flex-direction: column;
 }
 .skills__span {
  height: 4rem;
  width: 4rem;
  font-size: .6rem;
 }

 .skills svg {
  height: 1rem;
 }
 .skills__header {
  display: none;
 }
}