.skills {
  height: 50vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #fff;
  padding: 2rem 0;
  background: #0a0a0b;
  position: relative;
}

.skills__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 85%;
}

.skills_c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 8rem;
}
.skills__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.skills__skill {
  padding: 0;
  margin: 0;
}

.skills__header {
  margin-left: 2rem;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
}

